.xs {
  padding: 8px 10px;
  font-size: 12px;
  line-height: 16px;
}
.sm {
  padding: 8px 14px;
  font-size: 14px;
  line-height: 20px;
}
.md {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 20px;
}
.lg {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 24px;
}
.xl {
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
}

.solid {
  background-color: #211d15;
  color: #ece9e3;
}
.solid:hover {
  background: #2b2e2e;
}
.outline {
  background-color: #ffffff;
  color: #211d15;
  border: #ece9e3;
  border-style: solid;
}
.outline:hover {
  background: #ece9e3;
}
.ghost {
  background-color: #ffffff;
  color: #211d15;
}
.ghost:hover {
  background: #ece9e3;
}
.link {
  color: #ffffff;
  background-color: #211d15;
}
.link:hover {
  text-decoration: underline;
  text-decoration-color: #ca4520;
}
